.alarm-window {position: fixed; bottom: 15px; right: -100%; 
z-index: 5000; background-color: rgba(0,0,0,0); color: #fff; 
-webkit-transition: all .9s ease;
-moz-transition: all .9s ease;
-ms-transition: all .9s ease;
-o-transition: all .9s ease;
transition: all .9s ease;
padding: 15px;}
/* .alarm-window.on {right: 15px;background-color: rgba(0,0,0,1);} */
.alarm-window div {color: #fff;}
.alarm-window .content {padding-bottom: 20px;padding-left: 20px;padding-right: 20px;padding-top: 15px;}
.alarm-window .content a {color: #fff;} 
.alarm-window .content h3 {font-size: 16px;}
.alarm-window h3 .title {font-size: 24px;}
.alarm-window .window-footer {border-top: 1px solid rgba(255,255,255,.7);} 
.alarm-window .window-footer {text-align: right;padding-top: 15px;}
.alarm-window .window-footer label {display: inline-block;vertical-align: middle;margin-bottom: 0;}
.alarm-window .window-footer label span {display: inline-block;vertical-align: middle;}
.alarm-window .window-footer label input {display: inline-block;vertical-align: middle;width: 20px;height: 20px;margin-left: 5px;margin-top: 2px;}
.alarm-window .window-footer .btn-close {color: #fff;border: 1px solid rgba(255,255,255,.7);margin-right: 10px;margin-left: 10px;}